APP_ENV=development

BACKEND_HOST_PORT=8000
FRONTEND_HOST_PORT=8080

ELASTICSEARCH_URL=http://elasticsearch:9200
POSTGRES_DB=eprac
POSTGRES_USER=eprac
POSTGRES_PASSWORD=eprac_password
DATABASE_URL=postgresql://eprac:eprac_password@postgres:5432/eprac

REDIS_URL=redis://redis:6379/0

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
